* {
    padding: 0;
    margin: 0;
}


header{
    display: flex;
    justify-content:space-evenly;
}

#logo{
    height: 80px;
    width: 80px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1em;
    }


nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.8rem 1.5rem;
    display: block;
    font-weight: bold;
        }

.btn{
    border-radius: 20px;
    background-color: #0E8585;
    color: white;
    height: 50px;
    text-align: center;
    margin-top: 1rem;
}

h1{
    margin-bottom: 3rem;
    text-align: center ;
    color: #034d4d;
    font-size: 100px;
}

.hero-contant{
    height: 400px;
    width: 600px;
}
.hero-contant p{
    padding-top: 5rem;
}

.hero-img{
    height: 400px;
    width: 600px;
}

.h-img{
    height: 400px;
    width: 600px;
}

.hero{
    display: flex;
    justify-content: center;
}

.hero-btn{
    border-radius: 15px;
    background-color: #0E8585;
    color: white;
    height: 50px;
    text-align: center;
    padding: 10px;
    margin: 3rem;
}

.Featured-Courses-Section h2{
    margin-bottom: 3rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 50px;
}

.Featured-Courses-Section-card{
 display: flex;
 justify-content: space-around;
 margin-top: 2rem;
}

.container h2{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 50px;
}

.container-div{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    height: 300px;
    width: 100%;
    padding: 2rem;
}

.container-div div{
    height: 70px;
    width: 300px;
    padding: 2rem;
    font-size: 20px;
    
}


.Statistics-Section{
    margin-top: 3rem;
    background-color: #0E8585;
    display: flex;
    justify-content: space-evenly;
    height: 80px;
}
.Statistics-Section div{
    color: #ffffff;
    height: 50px;
    width: 250px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    margin-top: 1rem;
    font-size: 25px;
}

.testimonials-container h2{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 50px;
}


.testimonials-container-div{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    height: 350px;
    width: 100%;
    padding: 2rem;
}

.testimonials-container-div div{
    color: #000000;
    height: 150px;
    width: 470px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    text-align: center;
    margin-top: 1rem;
    font-size: 25px;
}


.CTA{
    margin-top: 3rem;
    margin-left: 5rem;
}

.footer{
    margin-top: 3rem;
    background-color: #173d3d;
    color: #ffffff;
}

.footer-links{
    display: flex; 
    justify-content: space-evenly;
}

.footer div{
    margin: 2.5rem;
}

.footer div a{
    text-decoration: none;
    color: #ffffff;
}

.footer p{
    text-align: center;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: #000000;
}
